* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: yellow;
}

ul li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

// .header {
//     display: flex;
//     width: 100%;
//     background: red;
//     &__top {
//         justify-content: space-around;
//         .header__nav {
//             .header__logo {}
//             .header__nav-link {
//                 &:hover {}
//                 &:active {}
//                 &:focus {}
//             }
//             .header__nav-btn {
//                 &:hover {}
//                 &:active {}
//                 &:focus {}
//             }
//         }
//     }
// }